/*! smart-update-websockets ~ MIT License */

body >header >figure >img {
   height: 50px;
   }
body >footer output {
   display: block;
   width:  100%;
   text-align: left;
   background-color: gainsboro;
   padding: 10px;
   }
body >footer output code {
   display: block;
   color: dimgray;
   }
